<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagem</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    {% for id, personagem in personagens.items() %}
    <div class="container">
        <h1>{{personagem['nome']}}</h1>
        <img height="200px" src="{{personagem['imagem']}}" alt="{{personagem['nome']}}">
        <p>É da raça {{personagem['raça']}} e estuda na {{personagem['casa']}}</p>
    </div>
    {% endfor %}
</body>
</html>